@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  position: absolute;
  top: 52px;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
  overscroll-behavior: none;
}

.liner-gradient {
  background: linear-gradient(90deg, #e60000, #ffcc00, #007f00, #0000cc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transform-origin: 0 80%;
}

.header-shadow {
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.2);
}
